html {
    background: url(pilares_da_criacao.png) no-repeat center fixed;
    background-size: cover;
  }

h1{
  margin-top: 3em;
}

.texto{
    font-style:italic;
    font-size: 1.3em;
    text-shadow: 4px 4px 4px #000000;
    color: white;
}

.limite-texto{
  width: 100%;
  justify-content: center;
}

p{
  text-align: center;
}

.titulo{
  text-align: center;
  font-style:italic;
  font-size: 2.5em;
  text-shadow: 2px 2px 4px #000000;
  color: white;
}

.blocos{
  margin: 3em;

}

.bordas{
  border: 2px white groove;
  border-radius: 10px;
  justify-content: center;
}

.coisas{
  display: flex;
  justify-content: center;
  font-style:italic;
  font-size: 1.3em;
  text-shadow: 2px 2px 4px #000000;
  color: white;
}

.favoritos{
  display: flex;
  justify-content: center;
}

.topicos{
  padding: 1.5em;
  font-style:italic;
  font-size: 1em;
  text-shadow: 2px 2px 4px #000000;
  color: white;
}

.gato{
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

.gatinhos{
  justify-content: center;
  margin-left: 2em;
  margin-right: 2em;
}

.logos{
  margin-top: 12em;
  margin-bottom: 1em;
  display: flex;
  padding: 0 5% 0 5%;
  justify-content: center;
  gap: 50px;
}

.loguinhos{
  justify-content: center;
}

@media screen and (max-width: 1000px){
  .favoritos{
    flex-direction: column;
    padding: 0 20% 0 20%;
  }
  .gato{
    flex-direction: column;
  }
  .loguinhos{
    width: 50px;
  }
  .blocos{
    max-width: 400px;
    text-align: center;
  }
  .texto{
    padding: 0 20% 0 20%;
  }
}